.main-container {
  display: block;

  width: 300px;
  height: fit-content;
  padding: 10px;

  background-color: rgb(43, 39, 39);
  border-radius: 10px;
}

.main-container img {
  width: 80px;
  border-radius: 50%;
}

.main-container input {
    width: 70%;
    background: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.main-container button {
    background: linear-gradient(to left, rgb(3, 105, 17), rgb(5, 168, 32));

    margin-top: 20px;
    padding: 8px;
    width: 80%;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.2s all;
}

.main-container button:hover {
    transform: scale(1.05);
}

.main-container .color-section {
    display: flex;
}

.main-container .color {
    margin-left: 10px;
    height: fit-content;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s all;
}

.main-container .color:hover {
    transform: scale(1.05);
}

.main-container .color-section div.clicked {
    outline: 2px solid lightseagreen;
    outline-offset: 2px;
}
